* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #1e2324;
}

/* -----------------------------------------------------------------------------------------------------------------------------
CANVAS
----------------------------------------------------------------------------------------------------------------------------- */

.container {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 225px);
  background-color: white;
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: -2;
}

.canvas {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-image: url("/images/green-backgroud.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.canvas::after,
.canvas::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #190dff;
  background-color: #2456b3;
  z-index: -1;
  padding: 4px;
  left: -4px;
  top: -4px;
  border-radius: 5px;
}

.canvas::before {
  filter: blur(1.5rem);
  opacity: 0.4;
}

/* -----------------------------------------------------------------------------------------------------------------------------
  DICE GRID
----------------------------------------------------------------------------------------------------------------------------- */

.grid-container {
  width: 80%;
  height: 200px;
  justify-self: flex-end;
  margin: 0 auto;
  align-self: flex-end;
}

.dice-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px;
  column-gap: 15px;
  row-gap: 10px;
  justify-content: center;
}

.dice {
  width: 35px;
  height: 35px;
  background-color: ghostwhite;
  color: #190dff;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 900;
  font-size: 27px;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px #273d15;
}

/* disables div elements with disabled tag */
div[disabled] {
  pointer-events: none;
  opacity: 0.7;
}

/* -----------------------------------------------------------------------------------------------------------------------------
ROLL/PLAY AGAIN BUTTON
----------------------------------------------------------------------------------------------------------------------------- */

.btn-container {
  position: absolute;
  top: 232.5px;
  left: 170px;
  width: 110px;
  height: 35px;
  display: flex;
  justify-content: center;
}

.roll-btn {
  width: 70px;
  height: 35px;
  border: none;
  border-radius: 7px;
  background-color: #4a0dff;
  color: ghostwhite;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s all;
}

.roll-btn:active {
  transform: scale(0.95);
}

.gameOver-msg {
  position: absolute;
  top: -70px;
  left: 30px;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-size: 40px;
  transition: transform 1.5s ease-out;
  transform: translateY(-500px);
}

/* -----------------------------------------------------------------------------------------------------------------------------
PAWNS
----------------------------------------------------------------------------------------------------------------------------- */

.pawn {
  position: absolute;
  scale: 2.5;
  right: 55px;
}

.pawn-white {
  color: white;
  top: 90px;
  transition: transform 2s ease-in-out, color 2s;
}

.pawn-black {
  color: black;
  bottom: 90px;
}

.turn-pawn {
  position: absolute;
  scale: 2;
  left: 20px;
  top: 20px;
  transition: color 1s;
}

/* -----------------------------------------------------------------------------------------------------------------------------
SCORE BOXES
----------------------------------------------------------------------------------------------------------------------------- */

.score-box {
  position: absolute;
  top: 232px;
  width: 28px;
  height: 28px;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 25px;
  font-family: "New Amsterdam";
}

.score-white {
  left: 120px;
  border: 3px solid white;
  color: white;
}

.score-black {
  left: 302px;
  border: 3px solid black;
  color: black;
}
