* {
  padding: 0px;
  margin: 0px;
}

body {
  background-color: #1e2324;
}

/* -----------------------------------------------------------------------------------------------------------------------------
CANVAS
----------------------------------------------------------------------------------------------------------------------------- */

.container {
  position: absolute;
  top: calc(50% - 250px);
  left: calc(50% - 225px);
  background-color: white;
  width: 450px;
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  z-index: -2;
}

.canvas {
  width: 100%;
  height: 100%;
  border-radius: 5px;
  background-image: url("./assets/green-backgroud.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: flex;
}

.canvas::after,
.canvas::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #190dff;
  background-color: #2456b3;
  z-index: -1;
  padding: 4px;
  left: -4px;
  top: -4px;
  border-radius: 5px;
}

.canvas::before {
  filter: blur(1.5rem);
  opacity: 0.4;
}

/* -----------------------------------------------------------------------------------------------------------------------------
END OF CANVAS
----------------------------------------------------------------------------------------------------------------------------- */

/* -----------------------------------------------------------------------------------------------------------------------------
  DICE GRID
----------------------------------------------------------------------------------------------------------------------------- */

.grid-container {
  width: 80%;
  height: 200px;
  justify-self: flex-end;
  margin: 0 auto;
  align-self: flex-end;
}

.dice-grid {
  margin-top: 60px;
  display: grid;
  grid-template-columns: 30px 30px 30px 30px 30px;
  column-gap: 15px;
  row-gap: 10px;
  justify-content: center;
}

.dice {
  width: 35px;
  height: 35px;
  background-color: ghostwhite;
  color: #190dff;
  font-family: "New Amsterdam", sans-serif;
  font-weight: 900;
  font-size: 27px;
  font-style: normal;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 5px 5px 5px #273d15;
}

/* -----------------------------------------------------------------------------------------------------------------------------
END OF DICE GRID
----------------------------------------------------------------------------------------------------------------------------- */

.btn-container {
  position: absolute;
  top: 250px;
  left: 170px;
  width: 110px;
  height: 35px;
  display: flex;
  justify-content: center;
}

.roll-btn {
  width: 70px;
  border: none;
  border-radius: 7px;
  background-color: #4a0dff;
  color: ghostwhite;
  font-family: "Kanit", sans-serif;
  font-weight: 500;
  font-size: 15px;
  cursor: pointer;
  transition: 0.2s all;
}

.roll-btn:active {
  transform: scale(0.95);
}

.gameOver-msg {
  position: absolute;
  top: 30px;
  left: 30px;
  font-family: "Honk", system-ui;
  font-optical-sizing: auto;
  font-size: 45px;
}
